*{
  padding: 0;
  margin: 0;
}
.Headimg{
  width: 90px;
  height: 90px; 
}

.Headshadow{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


body {
  
  background: linear-gradient(90deg, #0003ff, #ff0000);

  color: #ffffff; /* Set text color to white for better visibility */
}



body {
  background: linear-gradient(90deg, #0003ff, #ff0000);


  color: #ffffff; 
}


@media screen and (max-width: 550px) {


  .Headimg{
    width: 35px;
    height: 35px;
  }

  .headraj{
    font-size: 20px!important;
    font-weight: bold!important;
  }

  .headind{
    font-size: 15px!important;
    margin-top: 2px!important;
    margin-bottom: 0px!important;
  }

  .headnav{
    padding-bottom: 4px!important;
    /* padding-top: 9px!important; */
  }

   .headbtn{
    padding: 5px 10px !important ;
    font-size: medium!important;
   } 

   .Hello{
    display: none;
   }



}